extends ./layout/index

block contenido
    main.container.mt-5 
      .row 
          .col-md-5 
              img(src="img/nosotros.jpg" alt="Imagen sobre nosotros" class="img-fluid")
          .col-md-7 
              h1 #{pagina}
              blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam pellentesque eleifend eros. Integer ullamcorper dolor ac libero mattis, vel lacinia sem malesuada. Donec eget augue sit amet diam faucibus condimentum at vel velit. Sed a quam eu nunc eleifend suscipit. Vivamus lobortis laoreet dapibus. Praesent nunc ante, porta vitae augue vitae, ultrices sagittis est. Sed mattis velit in vehicula cursus. Donec in eros eu tortor vehicula tempor. Ut libero mauris, mollis at eros in, pharetra commodo tellus. Etiam volutpat ac mauris a accumsan. Nulla placerat interdum ante eu tristique.

              p Phasellus ornare sem ut quam facilisis, sit amet cursus tellus pharetra. Morbi sit amet ultrices nibh. Duis vitae turpis et neque finibus semper. Aliquam volutpat semper dolor, vel maximus sapien fringilla sodales. Vivamus non lectus tincidunt, tincidunt nunc vitae, laoreet turpis. In at vulputate augue, nec imperdiet nulla. Nulla dignissim enim ac dui euismod volutpat.

              p Integer cursus, dolor quis dictum semper, odio mi dictum lorem, quis ultricies turpis est vel urna. Fusce nisi ipsum, tristique a mauris nec, ultricies tincidunt leo. Fusce maximus quam id eros venenatis, eget maximus odio tempor. Curabitur auctor luctus tristique. Fusce id arcu pharetra tellus gravida feugiat non sed arcu. Vivamus tincidunt massa ac orci tincidunt, at sollicitudin neque congue. Proin nec euismod mi. Aenean scelerisque tempus lorem quis ullamcorper. Vivamus sit amet nunc dolor. Curabitur volutpat lectus orci, ultrices sollicitudin libero faucibus ac.

    .listado-iconos   
      .container.mt-5.py-5.text-center 
        .row 
          .col-md-4
            img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
            h2.mb-4 Seguridad 
            p Proin nec euismod mi. Vivamus sit amet nunc dolor. Curabitur volutpat lectus orci, ultrices sollicitudin libero faucibus ac.
          
          .col-md-4
            img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
            h2.mb-4 Mejores Destino 
            p Proin nec euismod mi. Vivamus sit amet nunc dolor. Curabitur volutpat lectus orci, ultrices sollicitudin libero faucibus ac.
          
          .col-md-4
            img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
            h2.mb-4 Los Mejores Precios 
            p Proin nec euismod mi. Vivamus sit amet nunc dolor. Curabitur volutpat lectus orci, ultrices sollicitudin libero faucibus ac.


